.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(129, 57, 58);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding: 0 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link-no-decoration:link,
.link-no-decoration:hover,
.link-no-decoration:visited,
.link-no-decoration:active {
  text-decoration: none;
  color: inherit;
}

svg {
  transition: 0.4s;
}

.icons > a:first-child > svg:hover {
  fill: #8e2d2d;
}

svg:hover {
  transition: 0.7s;
  fill: #4472b9;
}

.icons > a:last-child > svg:hover {
  fill: #e18728;
}
